.slick-prev,
.slick-next {
  color: black;
  background-color: black;
  border-radius: 100%;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
  z-index: 1;
}

.slick-dots {
  display: none;
}
