.relative {
  position: relative;
}

.group {
  display: inline-block;
}

.group-hover\:visible:hover .invisible {
  visibility: visible;
}

.absolute {
  position: absolute;
}

.transform {
  transform: translateX(-50%);
}

.mt-2 {
  margin-top: 0.5rem; /* 8px */
}

.bg-white {
  background-color: #fff;
}

.border {
  border-width: 1px;
}

.border-gray-300 {
  border-color: #d1d5db;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.invisible {
  visibility: hidden;
}

.group-hover\:visible:hover .invisible {
  visibility: visible;
}

.w-56 {
  width: 14rem; /* 224px */
}

.z-10 {
  z-index: 30;
}

.list-none {
  list-style-type: none;
}

.p-2 {
  padding: 0.5rem; /* 8px */
}

.cursor-pointer {
  cursor: pointer;
}

.border-b {
  border-bottom-width: 1px;
}

.hover\:bg-gray-100:hover {
  background-color: #f7fafc;
}

.transition {
  transition: background-color 0.2s;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.space-x-1 > :not(:last-child) {
  margin-right: 0.25rem; /* 4px */
}

.cursor-pointer {
  cursor: pointer;
}

.hover\:text-red-700:hover {
  color: #b91c1c;
}

.w-4 {
  width: 1rem; /* 16px */
}

.h-4 {
  height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
}

.ml-1 {
  margin-left: 0.25rem; /* 4px */
}
