.slick-prev,
.slick-next {
  color: black;
  background-color: black;
  border-radius: 100%;
}

.slick-prev {
  left: 10px;
  z-index: 1;
}

.slick-next {
  right: 10px;
  z-index: 1;
}

.slick-dots {
  display: none;
}
.sticky-left {
  position: sticky;
  top: 0;
  height: 125vh; /* Đảm bảo chiều cao của sticky phần tử đủ lớn */
}
